body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF1399;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

button {
    background-color: #064DC6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #FF1399;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
}

footer {
    background-color: #064DC6;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}